<component name="libraryTable">
  <library name="spring-boot-klock-starter-1.4-RELEASE">
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/cn/keking/spring-boot-klock-starter/1.4-RELEASE/spring-boot-klock-starter-1.4-RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>